body{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    margin: 0;
    padding: 0;

}

h3{
    color: #363958;;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
    font-size: 16px;
}

.header-menu-area{
    margin-top: 25px;;

}

.nav-bar-right{
    float:right;
}

.nav-bar-right ul{

}

.nav-bar-right ul li{
    display: inline;
    padding: 10px 15px;
}

.nav-bar-right ul li:hover{
    text-decoration: underline;
}

.nav-bar-right ul li a{
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   color: #3C3C3C;

}

.intro-area{
    display: inline-block;
    margin-top: 50px;
}

.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    
}

.half-width img{
    width: 100%;
}

.color-black{
    letter-spacing: 3px;
    color: #363958;
    margin-top: 50px;
}

.color-orange{
    color: #FF8367;
    letter-spacing: 3px;
}

.custom-width{
    width: 320px;
    line-height: 25px;
}

.color-button{
    text-decoration: none;
    color:white;
    display: inline-block;
    padding: 15px 18px;
    background-image: linear-gradient(180deg, salmon, tomato);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
}

.color-button:hover{
    background-image: linear-gradient(80deg, #5D69E9, #00ffff);
}

.fa-download, .fa-headset{
    padding-right: 15px;
}

.custom-width-1{
    width:440px;
    line-height: 25px;
}

.about-area{
    display: inline-block;
}

#custon-style{
    margin-top: 80px;
}

.project-area{
    display: inline-block;
    height: 750px;;
    background-color: #F8F9FC;
   
}

.single-project{
    
    width: 27%;
    float: left;
    padding: 25px 25px;
    background-color: white;
    height: 300px;
    margin-left: 26px;
    border-radius: 10px;
    box-shadow: 1px 5px 6px #eedede;
}

.single-project img{
    width: 100%;
}

.project-heading{
    font-size: 48px;
    text-align: center;
    margin: 80px 0px;
}

.all-projects{
    margin-left: 5%;
    margin-right: 5%;
}

.client-area{

}

.client-area h2{

    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.single-client{
    width: 27%;
    margin-left: 5%;
    float: left;
    border: 3px solid #eedede;
    border-radius: 20px;
    margin-bottom: 85px;
    box-shadow: 4px 4px 6px #eedede;
}

.single-client img{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    float: left;
}

.feedback{
    clear: both;
    padding: 10px 15px 0px;
    line-height: 25px;
}


}

.client-info{

}

.client-name{
    font-weight: 700;
    font-size: 20px;
    padding-left: 120px;
    padding-top: 0px;
}

.designation{
    font-size: 14px;
    padding-left: 120px;
}

.work-inquiry-area{
    height: 300px;
    margin-left: 18%;
    margin-top: 80px;
    clear: both;
}

.work-inquiry{
    width: 850px;
    height: 220px;
    background-image: url(shapes/work-inquiry-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.work-inquiry-text{
    color: white;
    padding: 56px 35px;
    float: left;
}

.work-width{
    width: 45%;
    float: left;
}

.chat-botton{
    width: 165px;
    padding: 65px 0px;
    float: right;
}

.footer-area{
    height: 220px;
    text-align: center;
    width: 350px;
    margin-left: 37%;
}

.footer-area p{
    font-size: 30px;
    font-weight: 700;
    margin-top: 0px;
    color: #3E3E3E;
}

.social-icon{
    margin-left: 70px;
}

.single-icon{
    float: left;
    margin-left: -35px;
}

.single-icon img{
    width: 50%;
}

#copyright{
    font-size: 14px;
    text-align: center;
    margin-top: 0;
    padding-left: 0px;
    color: #3E3E3E;
}